@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HindMadurai-Regular";
  src: url("../fonts/HindMadurai-Regular.ttf");
}

@font-face {
  font-family: "HindMadurai-Bold";
  src: url("../fonts/HindMadurai-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}